@media (max-width: 992px) {
  .navbar h1 {
    font-size: 20px;
  }

  .navbar {
    display: none;
  }

  .navbar-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: var(--sky-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    z-index: 100;
  }

  .home_logo img {
    width: 120px;
  }

  .home-img img {
    width: 300px;
  }

  /* LOGIN PAGE START */
  .login {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-responsive {
    width: 45%;
  }

  .navbar-responsive h1 {
    font-size: 25px;
  }

  .homepage,
.login {
    padding: 20px;
}
}

@media (max-width: 572px) {
  .navbar-responsive {
    width: 60%;
  }

  .home-content button {
    font-size: 20px;
  }

  /* LOGIN PAGE START */
  .login-section {
    display: block;
    flex-wrap: wrap;
  }

  .login-box {
    margin-top: 2rem;
  }

  .login_logo img {
    width: 150px;
  }

  .login-box h2 {
    font-size: 18px;
  }



}

@media (max-width: 992px) {
}
